@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Open+Sans:300italic,400,600italic,800|Courgette);

@include border-box-sizing; //uses border box sizing like the old IE

$susy: (
	columns: 12,
	container: 1000px,
	// gutters: 1/5,
	// gutter-position: after
	// global-box-sizing: border-box
);

$narrow: 370px;
$small: 700px;
$medium: 960px;
$wide: 1200px;

//Color Palette
// $white: #f0f0f0;
// $milky: #b1c0b1;
// $violet: #393b46;
// $grey: #666666;
// $pinky: #f6846a;
// $awesome: #94D7AC;

$white: #f0f0f0;
$milky: #F2EBC7;
$creamy: #F2EBC7;
// $violet: #644D52;
$violetWarm: #644D52;
$grey: #666666;
$pinky: #FF974F;
$awesome: #A49A87;