@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,100,400|Open+Sans:300italic,400,600italic,800|Courgette);

@include border-box-sizing; //uses border box sizing like the old IE

$susy: (
	columns: 12,
	container: 1000px,
	gutters: 1/5,
	gutter-position: inside
);

$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;

//Color Palette
$white: #f0f0f0;
$milky: #b1c0b1;
$violet: #393b46;
$grey: #666666;
$pinky: #f6846a;