#work {
	background: url('../images/triangular-bg.png') $violetWarm;

	.project-wrap {
		width: 100%;
		border-top: 1px dashed lighten($violetWarm, 8);
    	&:first-child {
    		border-top: none;
    	}
    	&:last-child {
    		border-bottom: none;
    	}
	}

	.project {
    	padding: 40px 20px;
		@include container(730px);
		
		&:first-child {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	h2 {
		margin-bottom: 20px;

		@include breakpoint(max-width 750px) {
			margin-bottom: 10px;
		}
	}

	.project img {
		@include span(6);
		@include border-radius(5px);
		padding-top: 30px;
		background: lighten($grey, 52);
		background-image: url('../images/browser-circles.png');
		background-repeat: no-repeat;
		background-position: 10px 10px;

		@include breakpoint(0 750px) {
			@include full;
			max-width: 410px;
			padding-left: 0;
			padding-right: 0;
			display: block;
			margin: 0 auto;
			float: none;
		}
	}

	.project div {
		padding-top: 40px;
		@include span(6 last);
		@include prefix(30px);

		@include breakpoint(0 749px) {
			@include break;
			@include full;
			@include prefix(0);
			padding-top: 0;
			text-align: center;
			margin-top: 20px;
		}
	}

	.project h3 {
		line-height: 1;
		padding-bottom: 15px;
	}

	.project button {
		border-top: 0px solid $creamy;
		border-left: none;
		border-right: none;
		border-bottom: none;
		background: $pinky;
		color: $creamy;
		margin-top: 20px;
		cursor: pointer;
		outline: none;
		width: 150px;
		height: 40px;
		transition: 100ms all linear;
		&:hover {
			border-top: 3px solid $creamy;
		}

		@include breakpoint(0 749px) {
			width: 50%;
			padding: 10px 20px;
		}
	}
} // #work